:root{
    /*Primary*/

--Red: hsl(0, 78%, 62%);
--Cyan: hsl(180, 62%, 55%);
--Orange: hsl(34, 97%, 64%);
--Blue: hsl(212, 86%, 64%);

    /*Neutral*/

--Very-Dark-Blue: hsl(234, 12%, 34%);
--Grayish-Blue: hsl(229, 6%, 66%);
--Very-Light_Gray: hsl(0, 0%, 98%);
--white: hsl(0,0%,100%);

--Poppins:'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: var(--Very-Light_Gray);
}
main{
    margin-left: 5%;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .conteiner{
        display: flex;
        flex-direction: column;
        max-width: 350px;
        height: 1300px;
        align-items: center;
        justify-content: space-around;

    }
        .Text{
            text-align: center;
            padding: 10% 5% 0;
            font-size: 15px;
            font-family: var(--Poppins);
            color: var(--Grayish-Blue);
        }
            .Text h2{
                
                font-weight: 200;
            }
            .Text h2 span{
                font-weight: 600;
                color: var(--Very-Dark-Blue);
            }
            .Text p{
                padding-top: 10px;
            }

        .articles{
            max-width: 90% ;
            height: auto;
            font-family: var(--Poppins) ;
            
        }
            .supervisor{
                margin-top:10%;
                box-shadow: 0 9px 13.5px 6px #ddd;
                border-radius: 7px;
                background: var(--white);
                border-top: solid 3px var(--Blue);
                max-height: 300px;
                padding: 10%;
            }
                .supervisor img{
                    position:static;
                    margin-left: 60%;
                    margin-top: 10%;
                }
                .supervisor h2{
                    font-size: 19px;
                    color: var(--Very-Dark-Blue);
                }
                .supervisor p{
                    color: var(--Grayish-Blue);
                }
        
            .Team{
                margin-top:10%;
                box-shadow: 0 9px 13.5px 6px #ddd;
                border-radius: 7px;
                background: var(--white);
                border-top: solid 3px var(--Red);
                max-height: 300px;
                padding: 10%;
            }
                .Team img{
                    position:static;
                    margin-left: 60%;
                    margin-top: 10%;
                }
                .Team h2{
                    font-size: 19px;
                    color: var(--Very-Dark-Blue);
                }
                .Team p{
                    color: var(--Grayish-Blue);
                }

            .karma{
                margin-top:10%;
                box-shadow: 0 9px 13.5px 6px #ddd;
                border-radius: 7px;
                background: var(--white);
                border-top: solid 3px var(--Orange);
                max-height: 300px;
                padding: 10%;
            }
                .karma img{
                    position:static;
                    margin-left: 60%;
                    margin-top: 10%;
                }
                .karma h2{
                    font-size: 19px;
                    color: var(--Very-Dark-Blue);
                }
                .karma p{
                    color: var(--Grayish-Blue);
                }

            .Calculator{
                margin-top:10%;
                box-shadow: 0 9px 13.5px 6px #ddd;
                border-radius: 7px;
                background: var(--white);
                border-top: solid 3px var(--Blue);
                max-height: 300px;
                padding: 10%;
            }
                .Calculator img{
                    position:static;
                    margin-left: 60%;

                }
                .Calculator h2{
                    font-size: 19px;
                    color: var(--Very-Dark-Blue);
                }
                .Calculator p{
                    color: var(--Grayish-Blue);
                }


@media screen and (min-width:768px) {
    .conteiner{
        display: grid;
        grid-template-rows: 1fr 1fr;
        max-width: 80%;
        height: 900px;
    }
    .Text{
        width: 55%;
        
        margin-left: 25%;
    }
    .articles{
        max-width: 100%;
        position: relative;
        margin-top: -100px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        grid-gap:35px;
    }
    .supervisor{
        grid-row: 2/3;
        max-height: 75%;
    }
        .supervisor img{
            margin-left: 45%;
            margin-top: 15%;
        }
    .Team{
        position: relative;
        top: 25%;
        grid-row: 1/3;
        max-height: 40%;
    }
        .Team img{
            margin-left: 45%;
            margin-top: 15%;
        }
    .karma{
        position: relative;
        top: -55%;
        grid-row: 3/5;
        grid-column: 2/3;
        max-height: 70%;
    }
        .karma img{
            margin-left: 50%;
            margin-top: 15%;
        }
    .Calculator{
        grid-row: 2/3;
    }
        .Calculator img{
            margin-left: 45%;
            margin-top: 15%;
        }
}